* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: white;
    color: $very-dark-cyan;
    h1,h2,h3 {
        font-family: $font-head;
    }

    p {
        font-family: $font-body;
    }
}