
$light-pink: hsl(321, 100%, 78%);
$light-red: hsl(0, 100%, 63%);
$pink: hsl(322, 100%, 66%);



$very-dark-cyan: hsl(192, 100%, 9%);
$very-light-cyan: hsl(192, 100%, 44%);
$very-pale-blue: hsl(207, 100%, 98%);